$blue: #342dfc;

$mobile: 480px;
$tablet: 800px;
$laptop: 1024px;
$desktop: 1300px;

.slider_container {
  max-width: 80%;
  margin: 0 auto;
  position: relative;

  svg {
    fill: white;
  }
}
.slider_container2 {
  width: 100%;
  display: flex;
  margin: 2% 0;

  img {
    border-radius: 8px;
  }
}
.left_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in;
  svg {
    fill: white;
  }
}
.right_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in;
  svg {
    fill: white;
  }
}
.left_arrow:hover,
.right_arrow:hover {
  color: white;
  background-color: rgba(203, 202, 202, 0.2);
}

.slider_image {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  max-height: 75vh;
  transition: transform 0.3s ease-in-out;
  user-select: none;
}

.overlayStyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.slider_content {
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 3vh, 20px);
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  margin: 0 10rem;
  padding: 20px;
}
.title {
  font-size: clamp(14px, 4vw, 36px);
  font-weight: 400;
}
.link {
  user-select: none;
  background-color: black;
  padding: 10px;
  border-radius: 2px;
  a {
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 3vw, 16px);
  }
  &:hover {
    background-color: white;
    a {
      color: black;
    }
  }
}
@media (max-width: $laptop) {
  .slider_content {
    margin: 0 6rem;
  }
}
@media (max-width: $tablet) {
  svg {
    width: 30px;
    height: 30px;
  }
  .slider_content {
    margin: 0 4rem;
  }
}
